
#artist-name {
	position: relative;
	margin-left: 40px;
	margin-top: 15px;
	font-size: 22px;
	font-weight: bold;
}

.news-block{
	background-color: #DCE1E3; 
	margin-top: 10px;
	width: 800px;
	height: 200px;
}

.news-title{
	position: relative;
	top: 10px;
	left: 50px;
}

.news-summary{
	position: relative;
	top: 10px;
	width: 750px;
	left: 25px;
	height: 100px;
	overflow: hidden;
}

.news-link{
	position: relative;
	top: 20px;
	left: 350px;
}

.bio-text{
	position: relative;
	height: 120px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom:0;
}


#bio-link{
	position: relative;
	float:right;
}

#artist-bio{
	height: 100%;
	border: 1px solid black;
}

#blogs{
	margin-left: 40px;
}

#control{
	display: inline-block;
}

#playerButton {
	position: absolute;
	right: 16px;
	top: 70px;
	height: 80px;
}

#follower {
	position: absolute;
	left: 330px;
	top: 10px;
}

#star-five {
	/*position: relative;
	height: 32px;
	width: 32px;
	left: 100px;
	top: -30px;*/
	display: inline-block;
}

#likeLabel {
	position: relative;
	top: 5px;
	color: #FFFAFA;
}

.like-artist {
	margin-left: 55px;
}

#help {
/*	position: relative;
	width: 100px;
	left: 150px;
	top: -55px;*/
	display: inline-block;
	margin-left: 30px;
}

.blog-title {
	width: 100%;
	max-width:500px;
	max-height: 20px;
	overflow: hidden;
  	text-overflow: ellipsis;
}