#go {
    margin-top:-8px;
    margin-right: 20px;
}

#bottom-buttons {
    margin-top:4px;
    width:280px;
}

#titles {
    margin-left:30px;
    margin-bottom:10px;
}

#rp-album-art {
    height:280px;
}

#info-container {
    margin-top:20px;
    min-height:40px;
    margin-bottom:20px;
}

#tp-buttons {
    margin-top:20px;
    margin-bottom:20px;
}

.btn-no-border {
    background-color: #87ca06;
    color: white;
    border: none;
}

.btn-no-border:hover, .btn-no-border:focus, .btn-no-border:active {
    background-color: #87ca06;
    color: white;
    border: none;
}

