/*#spotify_image {
	margin-top: 50px;
}*/

#side_bar {
	margin-top:10px;
	float: top;
}

#menu-toggle {
	margin-top: 20px;
	margin-bottom: 20px;
}

#the-footer {
    margin-top:30px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    width:400px;
    text-align:center;
}

h1.title {
    font-style:'Hoefler Text', Georgia, 'Times New Roman', serif;
    font-weight: normal;
    font-size: 3.00em;
    letter-spacing: .2em;
    line-height: 1.1em;
    margin:0px;
    text-align: center;
    text-transform: uppercase;
}


